//REACT-BIG-CALENDAR
@import 'react-big-calendar/lib/sass/styles';

//FULL CALENDAR
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import "~@fullcalendar/timegrid/main.css";
@import '~@fullcalendar/list/main.css';

.App {
  text-align: center;
  height: 100%;
  background-color: lightblue;
}